<html>
	<head>
		<title>STA Project Stop Info</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="../JavaScript/sendStopData.js"></script>
	</head>
	
	<body>
	<p>Please Enter the Stop Name or Number</p>
	<form id="formStopName" class="form" method="get">
		<label for="idStopName">Stop Name:</label>
		<input type="text" name="stopName" id="idStopName" >
		<button type="button" name="btnStopName" id="btnStopName" class="button">Submit</button>
	</form>
	<p>or</p>
	<form id="formStopNumber" class="form" method="get">
		<label for="idStopNumber">Stop Number:</label>
		<input type="text" name="stopNumber" id="idStopNumber" >
		<button type="button" name="btnStopNumber" id="btnStopNumber" class="button">Submit</button>
	</form>
	</body>
</html>
